.recipe__title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  width: 30%;
  line-height: 1.95;
  text-align: center;
  margin: 40px auto;
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.1rem 1.7rem;
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
}

@media only screen and (max-width: 1100px) {
  .recipe__title {
    width: 45%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .recipe__title {
    width: 70%;
    font-size: 20px;
  }

  .recipe__title span {
    padding: 0.6rem 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .recipe__title {
    width: 80%;
    font-size: 15px;
  }

  .recipe__title span {
    padding: 0.6rem 1.6rem;
  }
}
